.App {
  text-align: center;
  font-family: serif;
  margin: 0;
  padding: 0;
}
.form-check-input{
 margin-left:0  !important;
}
.btn-100{
  width: 100% !important;
  height: 100% !important;
}
.card-body{
  height: 381px;
}
.overflow-scroll::-webkit-scrollbar{
  display: none;
}
hr{
  margin: 0;
  border: 1px solid white;
}


